Repository projectriff/riff, pull requests merged in 2018-03, with the labels that each got.

#307 Fix function-proto VCS URLs after going monorepo
  function-proto/java/pom.xml
Labels: function-proto

#371 Change "riffrepo" to "projectriff" in docs and READMEs
  Development-Helm-install.adoc
  Getting-Started.adoc
  helm-charts/README.adoc
  helm-charts/kafka/README.md
  helm-charts/riff/README.md
Labels: helm-charts

#433 Fix path in long description for init/create
  riff-cli/cmd/utils/command_utils.go
  riff-cli/docs/riff_create.md
  riff-cli/docs/riff_init.md
Labels: riff-cli

#457 Override kubectl invoker lookup with RIFF_INVOKER_PATHS
  riff-cli/Makefile
  riff-cli/pkg/initializer/initializer.go
Labels: riff-cli

#455 Rewrite tests for apply using ginkgo and mocks
  riff-cli/cmd/apply_command_test.go
  riff-cli/cmd/apply_test.go
  riff-cli/test_data/command/fn-with-existing-files/apples-function.yaml
  riff-cli/test_data/command/fn-with-existing-files/echo-topics.yaml
  riff-cli/test_data/command/fn-with-existing-files/echo.sh
  riff-cli/test_data/command/fn-with-existing-files/oranges-function.yaml
Labels: riff-cli

#481 Add kafka chart as a conditional dependency to riff chart
  Development-Helm-install.adoc
  Getting-Started.adoc
  helm-charts/riff/README.md
  helm-charts/riff/requirements.lock
  helm-charts/riff/requirements.yaml
  helm-charts/riff/values.yaml
Labels: helm-charts

#494 Lint helm charts via CI
  .travis.helm-install.sh
  .travis.helm-publish.sh
  .travis.yml
  helm-charts/riff/Chart.yaml
Labels: helm-charts

#497 Move kafka.create to the proper yaml location
  helm-charts/riff/values.yaml
Labels: helm-charts
